# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.sublime-*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Extension
*.crx
*.pem
*.zip

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project specific
.cursorrules

# txt
threads-structure.txt

